# Virtual Environment
venv/
rekomendasi/
env/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VSCode
.vscode/

# PyCharm
.idea/

# Environment file
.env


implementation_plan.md
presentation_script.txt

